/*
 *	
 *
*/

html {
	min-height:100%;
	position:relative;
}

body {
	color: #888888;
	word-wrap: break-word;
	background: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:12px;
	margin:0px;
	min-height:100%;
	padding:0px;
}

a {
	color: #34bfff;
	text-decoration:none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	background: #34bfff;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size: 12px;
	font-weight:700;
	border:0px;
	padding:5px;
	color:#fff;
}

button:hover, 
html input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
	background: #129ddd;
}
 
.container {
	padding: 0 40px;
	position:relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

#header {
	background: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	clear: both;
	min-height: 86px; 
}

#header .container {
	float:none;
}

h1#logo {
	padding-right: 20px;
	border-right: 1px solid #dfdfdf;
	margin: 40px 0px 13px 5px;
}

ul#navmenu,
ul#usermenu,
ul.login {
	list-style:none;
	padding:0px;
}

ul#navmenu {
	margin: 40px 0px 0px 0px;
	float: left;
}

ul#navmenu li {
	float: left;
	margin: 8px 0px 0px 15px;
}

ul#navmenu li a{
	padding: 14px 2px 19px 2px;
	font-size: 12px;
	color:#474747;
}

ul#navmenu li.current a,
ul#navmenu li a:hover {
	color: #34bfff;
	border-bottom:2px solid #34bfff;
}

ul#usermenu { 
	margin-top:0px;
}

ul#usermenu li a{
	font-size: 12px;
	color:#474747;
}

ul#usermenu li.current a,
ul#usermenu li a:hover {
	color: #34bfff;
}

ul#usermenu li,
ul.login li{
	float: left;
	margin:0px;
	padding: 0px 5px;
	
}

ul.login {
	list-style: none;
	padding: 0px;
	position: absolute;
	z-index: 999;
	display: block;
	top: 35px;
	background: white;
	margin: 0px;
	width: 125px;
	right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

ul.login li {
	padding: 5px;
}

ul.login li a{
	padding: 5px;
}

.buttons {
	min-width: 85px;
	float:right;
	margin-right:5px;
	margin-top:40px;
}

#search {
	position: relative;
}

#search-container,
#login-container {
	display:none;
	position:relative;
}

#search-container {
	background: #f1f1f1;
	border: 1px solid #dfdfdf;
	width: 300px;
	position:absolute;
	top:0px;
	right: 43px;
}

#search-slide,
#profile-slide {
	float:left;
	width: 40px;
	height: 40px;
}

#search-slide {
	background: url(../img/search-icon.png) center center no-repeat;
	border-left: 1px solid #dfdfdf;
}

input#q {
	border: 0px;
	background: transparent;
	margin: 0px;
	margin-top: 6px;
	padding: 5px 9px;
}

input[type="image"] {
	margin: 9px 11px 9px 1px;
	float: right;
	background: #f1f1f1;
}

ul#search-list {
	margin: 6px 10px 0px 10px;
	padding: 0px;
	z-index: 999;
	position:relative;
}

ul#search-list li {
	display: block;
	width: 100%;
	padding: 6px 4px!important;
	margin-top: 0px!important;
	background: #f1f1f1;
	border: 1px solid #d1d1d1;
	border-top: 0px;
}

ul#search-list li.first {
	padding-bottom: 10px!important;
	border: 0px;
}

ul#search-list:after {
	content: "";
	width: 0;
	height: 0;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #ccc;
	position: absolute;
	top: 12px;
	right: 4px;
}

ul#search-list li a {
	text-transform:none;
	font-family: 'Lato', sans-serif;
	font-size:11px;
	color:#000;
}

#search-list {
	width: 76px;
	height: 27px;
	float: left;
	overflow: hidden;
	background: white;
	position: relative;
}

#profile-slide {
	background: url(../img/profile-icon.png) center center no-repeat;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	position:relative;
}
	
#content {
	width:100%;
	position:relative;
	padding-top:15px;
	min-height: 100%;
	overflow:hidden;
	margin-bottom:84px;
}

#content .container {
	padding-bottom:15px;
}

.content {
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 5px 5px 6px 5px;
	margin-bottom:1px;
	width:25%;
	position:relative;
	display:block
}

.content.last {
	margin-right:0px;
}

.content img {
	width:100%;
	height: auto;
	position:relative;
}

.content .img {
	position:relative;
}

.content .img a {
	display: block;
	line-height: 0px;
}

.content:hover .text,
.content:hover .img .overlay {
	display:block;
}

.content .img .overlay {
	width: 100%;
	height: 100%;
	bottom: 0px;
	display: none;
	position: absolute;
	padding: 0px; 
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.1);
	z-index: 100;
	background-image: url(../img/show-icon.png);
	background-position: center center;
	background-repeat:no-repeat;
}

.content .text {
	color: #ffffff;
	overflow: hidden;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	position: absolute;
	bottom:5px;
	left:5px;
	right:5px;
	display: none;
	background: #34bfff; 
}

.content.content-channel .text {
	 padding: 5px 0px 6px 0px;
}

.content.content-member .text,
.content.content-pornstar .text{
	margin-top: -34px;
}

.content .text h3{
	margin: 0px 10px;
	color: #fff;
	float:left;
	line-height: 24px;	
}

.content .text h3 a{
	color:#fff;
	font-size:14px;
	font-weight:400;
}

.content .rating {
	float: right;
	padding: 5px 10px 2px 30px;
	background: url(../img/rating.png) 8px center no-repeat;
	border-left: 1px solid white;
	font-size: 14px;
}

.contents {
	width:100%;
	clear: both;
}

#pagination {
	clear:both;
	overflow:hidden;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	text-align:center;
	color:#474747;
	font-size: 12px;
	padding: 10px 0px;
}

#pagination a {
	color: #474747;
}

#pagination a:hover {
	color: #34bfff;
}
 
#pagination span, 
#pagination a {
	padding: 0px 6px;
}
 
#footer {
	background: #ffffff;
	margin-top:50px;
	width:100%;
	color: #474747;
	font-size:12px;
	clear:both;
	overflow:hidden;
	position:absolute;
	bottom:0px;
}

#footer a {
	color: #474747;
}

#footer a:hover {
	color:#34bfff;
}

#footer .container {
	padding: 25px 0px;
	text-align:center;
	float:none;
}

/* Video Page */

.contents.video-container,
.video-container {
	max-width: 1200px;
	margin: 0 auto;
}

#video-container {
	float: left;
	width: 75%;
	margin:0px 0px 40px 0px;
}

#video-container .header h2 {
	font-weight:400;
	color:#555555;
	font-size:18px;
}

#vertical-banners {
	float:left;
	width: 25%;
	padding-left:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}

#vertical-banners img {
	width:100%;
	height:auto;
}

#thisPlayer img {
	width: 100%;
	height: auto;
}

#player iframe {
	width: 100%;
}

#thisPlayer {
	width: 100%!important;
}

.option {
	background: #fff;
	font-weight:300;
	font-size: 12px;
	color:#a2a2a2;
	text-transform:uppercase;
	clear:both;
	width:100%;
	overflow:hidden;
}

.option-bottom {
	color:#888888;
	text-transform:uppercase;
	padding: 10px 0px 10px 0px;
}

.option-bottom a{
	color: #555555;
}

.option .column {
	padding:10px;
	float:left;
	border-right: 1px solid #f1f1f1;
}

.option .column.submitted {
	border:0px;
}

.option .column.last {
	border-right:0px;
}

#video-container .header.video-comments{
	background: #ffffff;
	overflow:hidden;
	width:100%;
	margin: 0px 0px 10px 0px;
}

#video-container .header.video-comments h2 {
	font-size: 14px;
	color: #969696;
	margin: 0px 12px;
	text-transform:uppercase;
	padding:10px 0px;
}
	
#video-container #video-rating {
	float:right;
	margin-top: 15px;
}

#video-container .ratingStars {
	background:white;
}

#video-container .jStar {
	background: url(../img/stars.png) repeat-x!important;
}

#video-container .jRatingColor {
	background:#26bdff;
}

#video-container .jRatingAverage {
	background:#049bdd;
}

textarea#comment {
	background: transparent;
	width: 100%;
	border-color: #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	margin: 0px 0px 6px 0px;
	font-size: 12px;
	color: #555555;
}

#ul-comments .block {
	float:none;
	width:auto;
}

#horizontal-banner {
	width:100%;
	background: #fff;
	clear:both;
	overflow:hidden;
	text-align:center;
}

.banner-container {
	width: 100%;
}

.container .header h2 {
	font-weight: 400;
	color: #555555;
	font-size: 18px;
	float:left;
	margin-left: 5px;
}
 
.comments.row {
	clear: both;
	padding-top: 1px;
}

/* RWD */

@media only screen 
and (min-width : 1100px)  {
	.menu-button {
		display:none;
	}

	ul#navmenu {
		display:block!important;
	}	

}

@media only screen 
and (max-width : 1100px) {
	.container {
		padding:0px 10px 10px 10px;
	}
	
	.menu-button {
		position: relative;
		display: block;
		padding: 1em;
		color: #222222;
		cursor: pointer;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
		background: #b8b8b8;
		color: #474747;
		clear: both;
		border:0px;
	}
	
	.menu-button:after {
		content:"";
		position:absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #474747 transparent transparent transparent;
		top: 15px;
		right: 15px;
	}
	
	ul#navmenu {
		margin: 0px 0px 10px 0px;
		float: left;
		background: #b8b8b8;
		display:none;
		position: relative;
		z-index: 9;
		width:100%;
	}
	
	ul#navmenu li {
		display: block;
		width: 90%;
		padding: 10px 0px;
		margin: 0px 10px;
	}
	
	ul#navmenu li.current a, ul#navmenu li a:hover {
		color: #000;
		border-bottom: 0px;
	}
}

@media only screen 
and (max-width : 859px)  {
	h1#logo {
		padding-right: 18px;
		border-right: 0px;
		margin: 5px 0px 10px 0px;
	}
	
	.menu-button {
		position: relative;
		display: block;
		padding: 1em;
		color: #222222;
		cursor: pointer;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
		background: #b8b8b8;
		color: #474747;
		clear: both;
		border:0px;
	}
	
	.menu-button:after {
		content:"";
		position:absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #474747 transparent transparent transparent;
		top: 15px;
		right: 15px;
	}
	 	
	ul#navmenu {
		margin: 0px 0px 0px 0px;
		float: left;
		background: #b8b8b8;
		display:none;
		position: relative;
		z-index: 99;
	}
	
	ul#navmenu li {
		display: block;
		width: 90%;
		padding: 10px 0px;
		margin: 0px 10px;
	}
 
	ul#navmenu li.current a, ul#navmenu li a:hover {
		color: #000;
		border-bottom: 0px;
	}
	
	.buttons {
		margin-right: 0px;
		margin-top: 5px;
	}
	
	.content .text {
		margin-top: 0px;
		display: block;
	}
 
	#pagination {
		font-size: 16px;
		padding: 10px 0px;
	}
}  
 
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {	
	.content {
		width:33.3%;
	}
	.content .text h3 a {
		font-size: 12px;
	}
}

@media only screen 
and (min-width : 480px) 
and (max-width : 767px) {
	.content {
		width:50%;
	}
 
	ul#navmenu {
		margin: 0px 0px 0px 0px;
	}

	.content .text h3 a {
		font-size: 12px;
	}

	#video-container {
		float: left;
		width: 100%;
	}

	#vertical-banners {
		width: 100%;
		padding:0 7px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		text-align:center;
		padding-bottom:20px;
	}

	#vertical-banners img {
		width:32%;
	}
}

@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {
	.content {
		width:100%;
	}
	
	#video-container {
		float: left;
		width: 100%;
	}

	#vertical-banners {
		width: 100%;
		padding:0 7px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		text-align:center;
		padding-bottom:20px;
	}

	#search-container {
		background: #f1f1f1;
		border: 1px solid #dfdfdf;
		width: 270px;
		position: absolute;
		top: 0px;
		right: 43px;
	}

	input#q {
		padding: 5px 5px;
		width: 140px;
	}

	ul#search-list {
		margin: 6px 5px 0px 5px;
	}

	.option .column {
		border-right: 0px;
		width: 100%;
		text-align: center;
	}
}